td {
  width: 10px;
  height: 10px;
  border: 1.5px solid grey;
  margin: 0;
  margin-left: 0;
  z-index: 99999;
  box-sizing: border-box;
  padding: 0;
}

td[data-x="5"][data-y="5"] {
  position: relative;
  border-color: transparent;
}

td[data-x="5"][data-y="5"]::after {
  content: '';
  top: -1.5px;
  left: -1.5px;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  border: solid 1.6px red;
}

table {
  border-collapse: collapse;
  padding: 0;
  border-spacing: 0;
  border-style: hidden;
}

#wrapper {
  min-width: 110px;
  min-height: 110px;
  border: 1px solid;
  z-index: 100;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
}

#drop_section {
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s, transform 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  box-shadow: 0 30px 60px rgb(0 0 0 / 12%);
  border-radius: 5px;
  position: relative;
  width: 60vw;
  height: 90vh;
  background-color: white;
  z-index: 999;
  display: flex;
}

.browse_button {
  transform: scale(1.2);
  margin-bottom: 1vh;
}

#upload_section {
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 35vw;
  height: 25vh;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 60vh;
  left: 55vw;
  opacity: var(--opacity);
  padding: 2%;

}
#upload_section > #info{
    font-size: 2vh;
}

#use_image {
  position: relative;
  margin-top: 3vh;
  margin-bottom: 3%;
  width: max-content;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #fff;
  background-color: #000;
  height: max-content;
  padding: 2.5% 10%;
  font-size: 1.2em;
  border: 1.5px black solid;
}

#use_image:hover {
  background-color: white;
  color: black;
}

.expand_button {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 25px;
}

.expand_button:hover {
  transform-origin: center;
  transform: scale(1.25);
  transition: transform 0.1s ease-out;
}

#color_section {
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 35vw;
  height: 35vh;
  position: absolute;
  left: 55vw;
  top: 20vh;
  border-radius: 10px;
  padding: 1vh;
  opacity: var(--opacity);
}

#circle_section {
  position: absolute;
  top: 3%;
  left: 2%;
}

#big_box {
  height: 60px;
  top: 20%;
}

#small_box {
  height: 40px;
  top: 60%;
}

#big_box,
#small_box {
  border-radius: 5px;
  position: absolute;
  left: 5%;
  width: 90%;
}

#big_box+.color_box {
  top: calc(20% + 30px);
}

.color_box {
  border: 1px solid #eaeaea;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  padding: 5px 2%;
  padding-right: 10%;
}

#color_section .vert_center {
  position: absolute;
  top: 0;
  left: 25%;
}

#cancel_section {
  position: absolute;
  top: 90%;
  height: 10%;
  z-index: 9999;
}

#cancel_button {
  cursor: pointer;
  border-top: 1px rgb(220, 220, 220) solid;
  color: #666;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

#cancel_button:hover {
  color: #000;
  background-color: #fafafa;
}

.box-shadow-transition:hover {
  box-shadow: 0 8px 30px rgb(0 0 0 / 20%) !important;
  transition: box-shadow 0.25s ease-in;
}

#check_box_section {
  position: absolute;
  top: 80%;
  left: 0;
  text-align: right;
  width: 100%;
}

canvas:hover {
  cursor: crosshair;
}

#checkbox {
  margin-top: 1%;
  margin-right: 5%;
}

.first_notice {
  visibility: visible !important;
  transform: translate3d(0, calc(100% - 125px), 0px) scale(1);
}

.scene_1 {
  display: revert !important;
}
