   .scene_2{
     display: revert !important;
   }
   nav{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   border-radius: 7.5px;
    width: 5vw;
    position: relative;
    transition: width .1s ease-out, display 0.1s ease-out;
    position: fixed;
    top: 10vh;
    left: 0;

   }
   .icon_section{
    width: 5vw !important;
    display: none;
   }
    .button{
    width: 100%;
   }
   .button > svg{
    width:5vw;
    height: 10vh;
    padding: 1vw;
    opacity: 0.45;
   }

#explanation{
  position: absolute;
  top: 0%;
  left: 40%;
  display: none;
}
.text{
 
  height: 10vh !important;
  width: 5vw !important;
  padding: 1vw;
  font-family: sans-serif;
  font-size: 1.2em;
  white-space:  nowrap;
 
}
.button:hover > svg,.button_hover{
  opacity:1 !important;
}
.text > div{
  color: rgba(108, 122, 137);
}
.text:hover > div, .text_hover{
  color: black !important;
}
#canvas_wrapper{
  position: absolute !important;
  left: 50vw;
}
   .cropper_point{
    background-color: rgb(26, 115, 232);
    height: 6px;
    width: 6px;
    opacity: 0.95;
    position: absolute;
    transform: translate(-50%, -50%);  
    border: 1px solid white;  
    z-index: 99;
    display: none;
   }
   .cropper_side{
    background-color: #39f;
    z-index: 2;

    position: absolute;
    display: none;



   

   }
   div[class^='cropper_hor'],div[class*='cropper_hor']{
     height: calc(var(--outline_size)*2);
   }
   div[class^='cropper_ver'], div[class*='cropper_ver']{
    width: calc(var(--outline_size)*2);
   }



